.calculator {
    width: 300px;

    margin: 50px auto;
    background-color: #000000;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#display {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 24px;
    text-align: right;
    border: none;
    border-radius: 10px;
    background-color: #383535;
    color: #f1efef;
}

.buttons {
    display: block;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.row:last-child{
    justify-content: left;
    gap: 20px;
}

button {
    width: 60px;
    height: 40px;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.operator {
    background-color: #4CAF50;
    color: #fff;
}

.operator:hover {
    background-color: #3e8e41;
}

.number {
    background-color: #3d8678;
    color: #333;
    border: 1px solid #ddd;
}

.number:hover {
    background-color: #f9f9f9;
    border-color: #ccc;
}

#clear {
    background-color: #e74c3c;
    color: #fff;
}

#clear:hover {
    background-color: #c0392b;
}

#equals {
    background-color: #03A9F4;
    color: #fff;
}

#equals:hover {
    background-color: #039be5;
}